# Raider
# Affiliates dashboard
# Configuration file
# Example: https://github.com/valeriansaliou/raider/blob/master/config.cfg


[server]

log_level = "warn"
inet = "[::1]:8080"
workers = 4
secret_key = "8Xui8SN4mI+7egV/9dlfYYLGQJeEx4+DwmSQLwDVXJg="

[database]

url = "mysql://raider@127.0.0.1:3306/raider"
pool_size = 4
idle_timeout = 300
connection_timeout = 10

[assets]

path = "./res/assets/"
