body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

mark {
  background: rgba(252, 234, 2, 0.3);
  padding: 5px 6px;
}

header {
  background: #FFFFFF;
  height: 51px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: 0 1px 3px 0 rgba(15, 31, 64, 0.10);
}

header .logo {
  margin-top: 14px;
  margin-left: 40px;
  float: left;
}

header .logo img,
header .logo .logo-label {
  vertical-align: middle;
  display: inline-block;
}

header .logo img {
  height: 22px;
  max-width: 200px;
}

header .logo .logo-label {
  color: rgba(0, 0, 0, 0.80);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 13.5px;
  text-transform: lowercase;
  line-height: 24px;
  letter-spacing: -0.15px;
  margin-top: -2px;
  margin-left: 9px;
  padding-left: 12px;
}

header .menu {
  margin-right: 60px;
  margin-top: 13px;
  float: right;
}

header .menu-logout {
  list-style-type: none;
}

header .menu-logout a {
  color: #E10000;
  font-size: 12px;
  text-decoration: underline;
}

main,
.main-inner {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: row;
}

main[data-pending="true"] {
  position: relative;
}

main[data-pending="true"]:after {
  content: "Working. Please wait...";
  font-family: "Raider Open Sans Semibold", sans-serif;
  background: rgba(0, 0, 0, 0.95);
  color: #FFFFFF;
  font-size: 11.5px;
  padding: 8px 22px 11px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

main[data-pending="true"] .main-inner {
  pointer-events: none;
  opacity: 0.5;
}

main aside {
  background: #FFFFFF;
  width: 280px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0 3px 0 rgba(15, 31, 64, 0.10);
}

main aside.animated {
  animation-duration: 0.5s;
  animation-name: sidebar-slide;
}

main aside .infobox {
  background: #FFF374;
  padding: 13px 16px 13px 40px;
}

main aside .infobox h6,
main aside .infobox p {
  font-size: 12px;
  line-height: 16px;
}

main aside .infobox h6 {
  color: #000000;
}

main aside .infobox p {
  color: rgba(0, 0, 0, 0.65);
  margin-top: 4px;
}

main aside .side {
  padding: 24px 20px 12px;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}

main aside .payout {
  background-color: #F6F8FA;
  margin-bottom: 24px;
  border-radius: 2px;
}

main aside .payout-inner {
  color: #000000;
  padding: 12px 20px;
}

main aside .payout h6 {
  font-size: 12px;
}

main aside .payout .payout-amount {
  font-size: 15px;
  margin-top: 5px;
}

main aside .payout .button {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

main aside .navigate ul li {
  list-style-type: none;
  margin-bottom: 10px;
  display: block;
}

main aside .navigate ul li a {
  background-color: #F6F8FA;
  letter-spacing: 0.15px;
  padding: 12px 20px 15px;
  display: block;
  border-radius: 2px;
  transition: all 0.15s linear;
  transition-property: background-color, box-shadow;
}

main aside .navigate ul li a:hover {
  background-color: #EFF2F5;
}

main aside .navigate ul li a:active {
  background-color: #EAECEF;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.06);
}

main aside .navigate ul li a.selected {
  background: #3C82E7;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}

main aside .navigate ul li a.selected .navigate-title {
  color: #FFFFFF;
}

main aside .navigate ul li a.selected .navigate-label {
  color: rgba(255, 255, 255, 0.8);
}

main aside .navigate ul li a .navigate-title,
main aside .navigate ul li a .navigate-label {
  display: block;
}

main aside .navigate ul li a .navigate-title {
  color: #000000;
  font-size: 13px;
}

main aside .navigate ul li a .navigate-label {
  color: rgba(0, 0, 0, 0.55);
  font-size: 11.5px;
  line-height: 15px;
  text-align: justify;
  margin-top: 5px;
}

main aside .controls {
  background: rgba(255, 255, 255, 0.98);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 16px 22px 18px;
}

main aside .controls li {
  line-height: 16px;
  list-style-type: none;
}

main aside .controls li:nth-of-type(1) {
  float: left;
}

main aside .controls li:nth-of-type(2) {
  float: right;
}

main aside .controls li a {
  font-size: 11.5px;
  text-decoration: underline;
  display: block;
}

main aside .controls li:nth-of-type(1) a {
  color: #3C82E7;
}

main aside .controls li:nth-of-type(2) a {
  color: rgba(0, 0, 0, 0.9);
}

main aside .controls li:nth-of-type(1) a:before {
  content: "";
  background-image: url("/assets/images/common/external.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  height: 14px;
  width: 15px;
  margin-top: -2px;
  margin-right: 3px;
  display: inline-block;
}

main section {
  overflow: auto;
  flex: 1;
}

main section hr {
  border-color: rgba(0, 0, 0, 0.06);
  border-width: 1px 0 0 0;
  border-style: solid;
  margin: 16px 0 4px;
}

.section-inner {
  min-width: 740px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 24px;
}

.section-wrap {
  padding: 26px 60px 24px;
}

.section-title-main h2,
.section-title-main h3,
.section-title-status {
  vertical-align: middle;
  display: inline-block;
}

.section-title-main {
  float: left;
}

.section-title-main h2,
.section-title-main h3 {
  color: #000000;
}

.section-title-main h2 {
  font-size: 17px;
}

.section-title-main h3 {
  font-size: 15.5px;
}

.section-title-status {
  color: #2484F4;
  font-size: 14px;
  margin-left: 15px;
}

.section-title ul {
  margin-top: -3px;
  float: right;
}

.section-title ul li {
  list-style-type: none;
  margin-left: 6px;
  display: inline-block;
}

.section-title ul li.icon .button:before {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 11px;
  margin-left: -1px;
  display: inline-block;
  opacity: 0.35;
}

.section-title ul li.remove .button:before {
  background-image: url("/assets/images/dashboard/action_remove.svg");
  width: 15px;
  height: 15px;
  margin-top: -2px;
}

.section-box,
.section-box-more {
  background: #FFFFFF;
  box-shadow: 0 2px 3px 0 rgba(15, 31, 64, 0.12);
  border-radius: 2px;
}

.section-box {
  margin-top: 14px;
  min-height: 80px;
  overflow: hidden;
}

.section-box-inner,
.section-box-notice {
  padding-left: 20px;
  padding-right: 20px;
}

.section-box-inner {
  padding-top: 24px;
  padding-bottom: 14px;
}

.section-box-more-wrap {
  text-align: center;
  margin-top: 20px;
  display: block;
}

.section-box-more {
  color: #000000;
  font-size: 12px;
  padding: 12px 32px;
  display: inline-block;
  transition: all 0.2s linear;
  transition-property: box-shadow, transform;
}

.section-box-more:before,
form.section-wrap label .select-wrap:after {
  content: "";
  background-image: url("/assets/images/dashboard/expand.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  display: inline-block;
  opacity: 0.35;
}

.section-box-more:before {
  margin-right: 18px;
  margin-left: -8px;
  margin-top: -2px;
}

.section-box-more:hover {
  box-shadow: 0 3px 8px 0 rgba(15, 31, 64, 0.175);
}

.section-box-more:active {
  transform: translateY(1px);
  box-shadow: 0 1px 2px 0 rgba(15, 31, 64, 0.15);
}

.section-box-notice {
  background-color: #E6EAF0;
  line-height: 18px;
  margin-bottom: 4px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.section-box-notice h4 {
  font-size: 12.5px;
  margin-bottom: 7px;
}

.section-box-notice p {
  font-size: 12.5px;
  opacity: 0.5;
}

.section-actions {
  margin-top: 17px;
}

.section-actions .button {
  float: right;
}

.section-list {
  display: block;
}

.section-list-empty {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-style: italic;
  text-align: center;
  padding-top: 5px;
}

.section-list li {
  background: #F6F8FA;
  list-style-type: none;
  height: 56px;
  margin-bottom: 9px;
  display: block;
  overflow: hidden;
  border-radius: 2px;
}

.section-list li[data-selected="true"] .section-list-selection:before {
  width: 3px;
}

.section-list-selection {
  height: 100%;
  float: left;
}

.section-list-selection:before {
  content: "";
  background-color: #3C82E7;
  width: 0;
  height: 100%;
  float: left;
  transition: width 0.1s linear;
}

.section-list-selection .checkbox-label {
  margin-top: 17px;
  margin-left: 15px;
}

.section-list-content {
  margin-top: 11px;
  margin-left: 28px;
  float: left;
}

.section-list-content.section-list-content-trackers .item-identity {
  width: 220px;
}

.section-list-content.section-list-content-payouts .item-identity {
  width: 160px;
}

.section-list-actions {
  margin-top: 12px;
  margin-right: 20px;
  float: right;
}

.section-list-actions a {
  margin-left: 6px;
  float: left;
}

form.section-wrap label {
  margin-bottom: 9px;
  padding-left: 8px;
  display: block;
}

form.section-wrap label .label,
form.section-wrap label .link {
  line-height: 42px;
}

form.section-wrap label .label {
  color: #000000;
  font-size: 12px;
  width: 190px;
  float: left;
}

form.section-wrap label .link {
  font-size: 12.5px;
}

form.section-wrap label .checkbox-label {
  margin-top: 9px;
  padding-left: 1px;
}

.modal-field,
form.section-wrap label input,
form.section-wrap label select,
form.section-wrap label textarea {
  border: 1px solid rgba(0, 0, 0, 0.14);
  padding-left: 20px;
  outline: none;
  border-radius: 1px;
  transition: border-color 0.1s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.modal-field,
form.section-wrap label input,
form.section-wrap label select {
  height: 40px;
}

.modal-field,
form.section-wrap label input,
form.section-wrap label textarea {
  background: #FFFFFF;
  font-size: 12.5px;
  height: 40px;
  box-shadow: inset 0 1px 3px 0 rgba(15, 31, 64, 0.03);
}

.modal-field:focus,
form.section-wrap label input:focus,
form.section-wrap label textarea:focus {
  border-color: rgba(0, 0, 0, 0.4);
}

form.section-wrap label input {
  width: 100%;
  max-width: 320px;
}

form.section-wrap label .select-wrap {
  width: 100%;
  max-width: 260px;
  display: inline-block;
  position: relative;
}

form.section-wrap label .select-wrap:after {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

form.section-wrap label select {
  background: #FCFCFC;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap
  overflow: hidden
  cursor: pointer;
  width: 100%;
  padding-right: 24px;
  box-shadow: 0 2px 2px 0 rgba(15, 31, 64, 0.01);
}

form.section-wrap label select:hover {
  border-color: rgba(0, 0, 0, 0.25);
}

form.section-wrap label textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 440px;
  min-height: 100px;
  resize: vertical;
}

.item-identity,
.item-metrics,
.item-metrics-one {
  float: left;
}

.item-identity {
  padding-right: 6px;
}

.item-identity h6 {
  color: #000000;
  font-size: 12.5px;
  margin-top: -1px;
}

.item-identity p,
.item-identity .item-identity-sub {
  color: #000000;
  font-size: 11px;
  margin-top: 4px;
  opacity: 0.55;
}

.item-identity input.item-identity-sub {
  background: transparent;
  border: 0 none;
  width: 100%;
}

.item-metrics-one {
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  margin-left: 15px;
  padding-left: 16px;
}

.item-metrics-one p {
  color: #000000;
  font-size: 11px;
  margin-top: -2px;
}

.item-metrics-one h5 {
  color: #3C82E7;
  font-size: 14px;
  margin-top: 3px;
}

.item-metrics-one:first-of-type {
  border-left: 0 none;
  margin-left: 0;
  padding-left: 0;
}

.payout-balances {
  padding-left: 64px;
  padding-top: 6px;
  padding-bottom: 16px;
}

.payout-balance {
  float: left;
}

.payout-balance-unpaid .payout-balance-inner {
  background: #F6F8FA;
  padding: 12px 20px 16px;
  border-radius: 2px 2px 0 0;
}

.payout-balance-all {
  border-left: 1px solid rgba(0, 0, 0, 0.06);
  margin-left: 64px;
  margin-top: 18px;
  padding-left: 24px;
}

.payout-balance-inner h6 {
  color: #000000;
  font-size: 11.5px;
}

.payout-balance-amount {
  font-size: 22px;
  line-height: 22px;
  margin-top: 9px;
}

.payout-balance-notice {
  color: rgba(0, 0, 0, 0.55);
  font-size: 11.5px;
  font-style: italic;
  margin-top: 15px;
}

.payout-balance .button {
  padding: 0 34px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.popup-banner-picker {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 18px;
}

.popup-banner-picker li {
  border: 1px solid rgba(0, 0, 0, 0.2);
  list-style-type: none;
  height: 180px;
  padding: 6px;
  border-radius: 2px;
  transition: border-color 0.1s linear;
}

.popup-banner-picker li:hover {
  border-color: rgba(0, 0, 0, 0.4);
}

.popup-banner-picker li:active {
  border-color: rgba(0, 0, 0, 0.5);
}

.popup-banner-picker li[data-selected="true"] {
  border: 2px solid #3C82E7;
  margin: -1px;
}

.popup-banner-picker li a {
  background-color: #F6F8FA;
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.popup-banner-picker li a img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup-banner-actions input {
  width: 10px;
  opacity: 0;
  float: left;
}

@keyframes sidebar-slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .section-list-actions a:nth-child(2) {
    display: none;
  }
}

@media (max-width: 1140px) {
  .payout-balances {
    padding-left: 22px;
  }

  .payout-balance-all {
    margin-left: 40px;
  }

  .item-metrics-one:nth-child(3) {
    display: none;
  }

  form.section-wrap label textarea {
    max-width: 340px;
  }
}

@media (max-width: 1020px) {
  .item-metrics-one:nth-child(2) {
    display: none;
  }
}
