<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ config.icon_url | escape }}" type="{{ config.icon_mime | escape }}">
    <link rel="apple-touch-icon" href="{{ config.icon_url | escape }}" type="{{ config.icon_mime | escape }}">

    <meta name="msapplication-TileColor" content="{{ config.icon_color | escape }}">
    <meta name="msapplication-TileImage" content="{{ config.icon_url | escape }}">
    <meta property="og:image" content="{{ config.icon_url | escape }}">

    <title>{% block title %}{% endblock title %} | {{ config.page_title | escape }}</title>

    {% block stylesheets %}
      <link rel="stylesheet" href="/assets/stylesheets/common.css?v={{ config.runtime_version | escape }}" type="text/css" />
    {% endblock stylesheets %}

    {% block javascripts %}{% endblock javascripts %}

    {% if config.custom_html %}
      {{ config.custom_html | safe }}
    {% endif %}
  </head>

  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
