<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="https://crisp.chat/favicon-512x512.png" type="image/png">
    <link rel="apple-touch-icon" href="https://crisp.chat/favicon-512x512.png" type="image/png">

    <meta name="msapplication-TileColor" content="#3C82E7">
    <meta name="msapplication-TileImage" content="https://crisp.chat/favicon-512x512.png">
    <meta property="og:image" content="https://crisp.chat/favicon-512x512.png">

    <title>Crisp Affiliates | Dashboard | Modal</title>

    <link rel="stylesheet" href="/assets/stylesheets/common.css" type="text/css" />
    <link rel="stylesheet" href="/assets/stylesheets/dashboard.css" type="text/css" />
  </head>

  <body>
    <div class="lock">
      <div class="modal">
        <div class="modal-inner">
          <div class="modal-title">
            <h1 class="font-sans-bold">Welcome! Create your first link…</h1>
            <a href="#" class="close"></a>

            <div class="clear"></div>
          </div>

          <p class="modal-main font-sans-semibold">To start earning money, create a tracker link and share it.</p>
          <p class="font-sans-regular">Once people signup using your link and pay for the service, you will earn a 30% commission. You will then be able to request a payout.</p>

          <div class="modal-actions">
            <button type="submit" class="button button-medium button-next button-important font-sans-semibold">Create an affiliates link</button>

            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
