{% extends "__base" %}

{% import "_dashboard_toast" as dashboard_toast %}
{% import "_dashboard_header" as dashboard_header %}
{% import "_dashboard_menu" as dashboard_menu %}

{% block title %}Trackers | Dashboard{% endblock title %}

{% block stylesheets %}
  {{ super() }}

  <link rel="stylesheet" href="/assets/stylesheets/dashboard.css?v={{ config.runtime_version | escape }}" type="text/css" />
{% endblock stylesheets %}

{% block javascripts %}
  {{ super() }}

  <script src="/assets/javascripts/dashboard.js?v={{ config.runtime_version | escape }}" type="text/javascript"></script>
  <script src="/assets/javascripts/dashboard_trackers.js?v={{ config.runtime_version | escape }}" type="text/javascript"></script>

  <script type="text/javascript">
    window.onload = function() {
      {% if remove_failure %}
        ToastManager.error("Trackers not removed.", "The selected trackers could not be removed.");
      {% elif remove_neutral %}
        ToastManager.warning("No tracker was removed.", "No tracker was removed from selected trackers.");
      {% elif remove_success %}
        ToastManager.success("Trackers removed.", "The selected trackers have been removed.");
      {% endif %}
    };
  </script>
{% endblock javascripts %}

{% block body %}
  {{ dashboard_header::header(config=config) }}

  <main data-pending="false">
    <div class="main-inner">
      {{ dashboard_menu::menu(config=config, common=common, sidebar="", selected="trackers", infobox_title="Manage your trackers.", infobox_label="Send those tracker links to people and start earning money.") }}

      <section>
        <div class="section-inner">
          <div class="section-wrap">
            <form action="/dashboard/trackers/form/remove/" method="post">
              <div class="section-title">
                <div class="section-title-main">
                  <h2 class="font-sans-bold">Trackers</h2>

                  {% if trackers | length > 0 %}
                    <div class="section-title-status font-sans-semibold">({{ trackers | length }} tracker{{ trackers | length | pluralize }})</div>
                  {% endif %}
                </div>

                <ul>
                  <li class="icon remove">
                    <button type="submit" class="button button-small button-action font-sans-semibold">Remove selection</button>
                  </li>

                  <li>
                    <a href="#" class="button button-small font-sans-semibold">Add a new tracker</a>
                  </li>
                </ul>

                <div class="clear"></div>
              </div>

              <div class="section-box">
                <div class="section-box-inner">
                  <ul class="section-list">
                    {% if trackers | length > 0 %}
                      {% for tracker in trackers %}
                        <li data-selected="false">
                          <div class="section-list-selection">
                            <input id="select_{{ tracker.tracking_id | escape }}" class="checkbox" type="checkbox" name="tracker" value="{{ tracker.tracking_id | escape }}" onchange="FormTrackersManager.checkbox_change(this)">

                            <label class="checkbox-label" for="select_{{ tracker.tracking_id | escape }}">
                              <span class="checkbox-image"></span>
                            </label>
                          </div>

                          <div class="section-list-content section-list-content-trackers">
                            <div class="item-identity">
                              <h6 class="font-sans-bold">{{ tracker.label | escape }}</h6>
                              <p class="underlined font-sans-regular">{{ config.track_url | escape }}?{{ config.track_parameter | escape }}={{ tracker.tracking_id | escape }}</p>
                            </div>

                            <div class="item-metrics">
                              <div class="item-metrics-one">
                                <p class="font-sans-regular">Signups</p>
                                <h5 class="font-sans-semibold">{{ tracker.statistics_signups | escape }}</h5>
                              </div>

                              <div class="item-metrics-one">
                                <p class="font-sans-regular">Paying now</p>
                                <h5 class="font-sans-semibold">{{ tracker.statistics_paying | escape }}</h5>
                              </div>

                              <div class="item-metrics-one">
                                <p class="font-sans-regular">Earned so far</p>
                                <h5 class="font-sans-semibold">{{ config.payout_currency | escape }} {{ tracker.total_earned | escape }}</h5>
                              </div>

                              <div class="clear"></div>
                            </div>

                            <div class="clear"></div>
                          </div>

                          <div class="section-list-actions">
                            <a href="#" class="button button-tiny button-dark font-sans-semibold">View banners</a>
                            <a href="#" class="button button-tiny font-sans-semibold">Copy tracker link</a>

                            <div class="clear"></div>
                          </div>

                          <div class="clear"></div>
                        </li>
                      {% endfor %}
                    {% else %}
                      <h4 class="section-list-empty font-sans-semibold">No tracker was found. Add your first tracker now!</h4>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </main>

  {{ dashboard_toast::toast() }}
{% endblock body %}
