{% extends "__base" %}

{% import "_dashboard_header" as dashboard_header %}
{% import "_dashboard_menu" as dashboard_menu %}

{% block title %}Trackers | Dashboard{% endblock title %}

{% block stylesheets %}
  {{ super() }}

  <link rel="stylesheet" href="/assets/stylesheets/dashboard.css?v={{ config.runtime_version | escape }}" type="text/css" />
{% endblock stylesheets %}

{% block body %}
  {{ dashboard_header::header(config=config) }}

  <main>
    {{ dashboard_menu::menu(config=config, common=common, sidebar="", selected="account", infobox_title="Manage your account.", infobox_label="Configure your bank account and legal information for payouts.") }}

    <section>
      <form class="section-wrap" method="post" action="/dashboard/account/">
        <div class="section-title">
          <div class="section-title-main">
            <h2 class="font-sans-bold">Account</h2>
          </div>

          <div class="clear"></div>
        </div>

        <div class="section-box">
          <div class="section-box-inner">
            <label class="font-sans-semibold">
              <span class="label">Account email</span>
              <input type="email" name="email" placeholder="john.doe@example.com" class="font-sans-regular">

              <div class="clear"></div>
            </label>

            <label class="font-sans-semibold">
              <span class="label">Account password</span>
              <a href="#" class="link underlined color-blue font-sans-semibold">Change my account password...</a>

              <div class="clear"></div>
            </label>
          </div>
        </div>

        <div class="section-actions">
          <button type="submit" class="button button-medium font-sans-semibold">Save account settings</button>

          <div class="clear"></div>
        </div>
      </form>

      <hr>

      <form class="section-wrap" method="post" action="/dashboard/account/">
        <div class="section-title">
          <div class="section-title-main">
            <h3 class="font-sans-semibold">Payout recipient</h3>
          </div>

          <div class="clear"></div>
        </div>

        <div class="section-box">
          <div class="section-box-notice">
            <h4 class="font-sans-bold">As every affiliate country is different, we don’t have a strict way to collect recipient account details.</h4>

            <p class="font-sans-regular">Thus, we ask you to select the recipient account type (eg. PayPal) and write manually the account details (eg. PayPal email).</p>
            <p class="font-sans-regular">We also ask you to enter your country, address and full name for invoicing purposes.</p>
          </div>

          <div class="section-box-inner">
            <label class="font-sans-semibold">
              <span class="label">Full name</span>
              <input type="text" name="full_name" placeholder="John Doe" class="font-sans-regular">

              <div class="clear"></div>
            </label>

            <label class="font-sans-semibold">
              <span class="label">Address</span>
              <input type="text" name="address" placeholder="42 2nd Street New York City USA" class="font-sans-regular">

              <div class="clear"></div>
            </label>

            <label class="font-sans-semibold">
              <span class="label">Country</span>

              <div class="select-wrap">
                <select name="country" class="font-sans-semibold">
                  <option value="fr">France</option>
                  <option value="gb">United Kingdom</option>
                </select>
              </div>

              <div class="clear"></div>
            </label>

            <label class="font-sans-semibold">
              <span class="label">Payout method</span>

              <div class="select-wrap">
                <select name="payout_method" class="font-sans-semibold">
                  <option value="bank">Bank wire</option>
                  <option value="paypal">PayPal</option>
                </select>
              </div>

              <div class="clear"></div>
            </label>

            <label class="font-sans-semibold">
              <span class="label">Payout instructions</span>
              <textarea name="payout_instructions" placeholder="Enter payout account details (eg. bank details)..." class="font-sans-regular"></textarea>

              <div class="clear"></div>
            </label>
          </div>
        </div>

        <div class="section-actions">
          <button type="submit" class="button button-medium font-sans-semibold">Save payout settings</button>

          <div class="clear"></div>
        </div>
      </form>
    </section>
  </main>
{% endblock body %}
