<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="https://crisp.chat/favicon-512x512.png" type="image/png">
    <link rel="apple-touch-icon" href="https://crisp.chat/favicon-512x512.png" type="image/png">

    <meta name="msapplication-TileColor" content="#3C82E7">
    <meta name="msapplication-TileImage" content="https://crisp.chat/favicon-512x512.png">
    <meta property="og:image" content="https://crisp.chat/favicon-512x512.png">

    <title>Crisp Affiliates | Dashboard | Home</title>

    <link rel="stylesheet" href="/assets/stylesheets/common.css" type="text/css" />
    <link rel="stylesheet" href="/assets/stylesheets/dashboard.css" type="text/css" />
  </head>

  <body>
    <header>
      <a class="logo" href="/assets/templates/dashboard_home.html">
        <img src="https://crisp.chat/static/images/common/logo/blue.svg" alt="" />

        <span class="logo-label font-sans-semibold">Affiliates</span>
      </a>

      <ul class="menu">
        <li class="menu-logout">
          <a href="/logout/" class="font-sans-bold">Logout</a>
        </li>
      </ul>

      <div class="clear"></div>
    </header>

    <main>
      <aside class="animated">
        <div class="infobox">
          <h6 class="font-sans-bold">This is your affiliates dashboard.</h6>
          <p class="font-sans-regular">Manage your trackers, payouts &amp; account. Pick a category below.</p>
        </div>

        <div class="side">
          <div class="payout">
            <div class="payout-inner">
              <h6 class="font-sans-regular">You have money on your balance:</h6>
              <p class="payout-amount font-sans-semibold">$1,200 (USD)</p>
            </div>

            <a href="/assets/templates/dashboard_payouts.html" class="button button-medium font-sans-semibold">Go to payout manager</a>
          </div>

          <nav class="navigate">
            <ul>
              <li>
                <a href="/assets/templates/dashboard_trackers.html">
                  <span class="navigate-title font-sans-bold">Trackers</span>
                  <span class="navigate-label font-sans-regular">Manage tracker links you send to people. See earned money.</span>
                </a>
              </li>

              <li>
                <a href="/assets/templates/dashboard_payouts.html">
                  <span class="navigate-title font-sans-bold">Payouts</span>
                  <span class="navigate-label font-sans-regular">Request for a payout and review your payout history and invoices.</span>
                </a>
              </li>

              <li>
                <a href="/assets/templates/dashboard_account.html">
                  <span class="navigate-title font-sans-bold">Account</span>
                  <span class="navigate-label font-sans-regular">Manage your account settings, and configure your legal info.</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <ul class="controls">
          <li>
            <a href="https://help.crisp.chat/" target="_blank" class="font-sans-semibold">Get help</a>
          </li>

          <li>
            <a href="mailto:support@crisp.chat" class="font-sans-semibold">Contact support</a>
          </li>

          <div class="clear"></div>
        </ul>
      </aside>
    </main>
  </body>
</html>
