{% extends "__base" %}

{% import "_dashboard_header" as dashboard_header %}
{% import "_dashboard_menu" as dashboard_menu %}

{% block title %}Trackers | Dashboard{% endblock title %}

{% block stylesheets %}
  {{ super() }}

  <link rel="stylesheet" href="/assets/stylesheets/dashboard.css?v={{ config.runtime_version | escape }}" type="text/css" />
{% endblock stylesheets %}

{% block body %}
  {{ dashboard_header::header(config=config) }}

  <main>
    {{ dashboard_menu::menu(config=config, sidebar="", selected="trackers") }}

    <section>
      <div class="section-wrap">
        <div class="section-title">
          <div class="section-title-main">
            <h2 class="font-sans-bold">Trackers</h2>

            <div class="section-title-status font-sans-semibold">(2 trackers)</div>
          </div>

          <ul>
            <li class="icon remove">
              <a href="#" class="button button-small button-action font-sans-semibold">Remove selection</a>
            </li>

            <li>
              <a href="#" class="button button-small font-sans-semibold">Add a new tracker</a>
            </li>
          </ul>

          <div class="clear"></div>
        </div>

        <div class="section-box">
          <div class="section-box-inner">
            <ul class="section-list">
              <li class="selected">
                <div class="section-list-selection">
                  <input id="select_item" class="checkbox" type="checkbox" checked>

                  <label class="checkbox-label" for="select_item">
                    <span class="checkbox-image"></span>
                  </label>
                </div>

                <div class="section-list-content section-list-content-trackers">
                  <div class="item-identity">
                    <h6 class="font-sans-bold">Blog Article #1</h6>
                    <p class="underlined font-sans-regular">https://crisp.chat/?t=xVdpf1dfM</p>
                  </div>

                  <div class="item-metrics">
                    <div class="item-metrics-one">
                      <p class="font-sans-regular">Signups</p>
                      <h5 class="font-sans-semibold">10,230</h5>
                    </div>

                    <div class="item-metrics-one">
                      <p class="font-sans-regular">Paying now</p>
                      <h5 class="font-sans-semibold">5,129</h5>
                    </div>

                    <div class="item-metrics-one">
                      <p class="font-sans-regular">Earned so far</p>
                      <h5 class="font-sans-semibold">$20,431 (USD)</h5>
                    </div>

                    <div class="clear"></div>
                  </div>

                  <div class="clear"></div>
                </div>

                <div class="section-list-actions">
                  <a href="#" class="button button-tiny button-dark font-sans-semibold">View banners</a>
                  <a href="#" class="button button-tiny font-sans-semibold">Copy tracker link</a>

                  <div class="clear"></div>
                </div>

                <div class="clear"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock body %}
