<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="https://crisp.chat/favicon-512x512.png" type="image/png">
    <link rel="apple-touch-icon" href="https://crisp.chat/favicon-512x512.png" type="image/png">

    <meta name="msapplication-TileColor" content="#3C82E7">
    <meta name="msapplication-TileImage" content="https://crisp.chat/favicon-512x512.png">
    <meta property="og:image" content="https://crisp.chat/favicon-512x512.png">

    <title>Crisp Affiliates | Login</title>

    <link rel="stylesheet" href="/assets/stylesheets/common.css" type="text/css" />
    <link rel="stylesheet" href="/assets/stylesheets/initiate.css" type="text/css" />
  </head>

  <body>
    <mark class="information font-sans-bold">Please sign in to access your Crisp Affiliates dashboard.</mark>
    <mark class="failure hidden font-sans-bold">Oops. Your credentials are invalid. Please enter them again and retry.</mark>

    <main>
      <a class="logo" href="/dashboard/">
        <div class="logo-inner">
          <img src="https://crisp.chat/static/images/common/logo/white.svg" alt="" />

          <span class="logo-label font-sans-regular">Affiliates</span>
        </div>
      </a>

      <p class="error hidden font-sans-semibold">Invalid credentials. Try again.</p>

      <form action="/initiate/login/" method="post" name="login">
        <label>
          <input type="email" name="email" placeholder="Email address" class="font-sans-regular" autofocus>
        </label>

        <label>
          <input type="password" name="password" placeholder="Password" class="font-sans-regular">
        </label>

        <button type="submit" class="button button-large font-sans-semibold">Log in with your Crisp Affiliates account</button>
      </form>

      <nav>
        <ul>
          <li>
            <a href="/initiate/signup/" class="font-sans-semibold">Create your account.</a>
          </li>

          <li>
            <a href="/initiate/recover/" class="font-sans-regular">Forgot your password?</a>
          </li>

          <div class="clear"></div>
        </ul>
      </nav>
    </main>
  </body>
</html>
